BasedOnStyle: Google
ColumnLimit: 80
IndentWidth: 2
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
AccessModifierOffset: -2
ConstructorInitializerAllOnOneLineOrOnePerLine: true
AlignTrailingComments: false
KeepEmptyLinesAtTheStartOfBlocks: true
AllowShortCaseLabelsOnASingleLine: true
AlwaysBreakTemplateDeclarations: true
SpacesBeforeTrailingComments: 2
IncludeBlocks: Preserve
IncludeCategories:
  - Regex:           '^<.*\.h>'
    Priority:        1
  - Regex:           '^<c.*'
    Priority:        2
  - Regex:           '^<.*'
    Priority:        4
  - Regex:           '.*'
    Priority:        5
---
BasedOnStyle: Google
ColumnLimit: 80
IndentWidth: 2
Language: ObjC
DerivePointerAlignment: false
PointerAlignment: Left
AccessModifierOffset: -2
ConstructorInitializerAllOnOneLineOrOnePerLine: true
AlignTrailingComments: false
KeepEmptyLinesAtTheStartOfBlocks: true
AllowShortCaseLabelsOnASingleLine: true
AlwaysBreakTemplateDeclarations: true
SpacesBeforeTrailingComments: 2
IncludeBlocks: Preserve
IncludeCategories:
  - Regex:           '^<.*\.h>'
    Priority:        1
  - Regex:           '^<c.*'
    Priority:        2
    Priority:        3
  - Regex:           '^<.*'
    Priority:        4
  - Regex:           '.*'
    Priority:        5
