# File: azure-pipelines.yml

jobs:
- template: azure-win-build.yml
  parameters:
    name: VS2019
    vmImage: windows-2019
    cmakeArgs: '-G "Visual Studio 16 2019" -A x64 ..'

- template: azure-win-build.yml
  parameters:
    name: VS2017
    vmImage: vs2017-win2016
    cmakeArgs: '-G "Visual Studio 15 2017" -A x64'