jobs:
#- template: azure-win-build.yml
#  parameters:
#    name: VS2019
#    vmImage: windows-2019
#    cmakeArgs: '-G "Visual Studio 16 2019" -A x64 ..'

#- template: azure-win-build.yml
#  parameters:
#    name: VS2017
#    vmImage: vs2017-win2016
#    cmakeArgs: '-G "Visual Studio 15 2017" -A x64 ..'

- job: linux
  strategy:
    matrix:
      REL:
        BUILD_TYPE: Release
      DBG:
        BUILD_TYPE: Debug
  pool:
    vmImage: ubuntu-16.04
  variables:
    CXX: /opt/clang-8/bin/clang++
    CXXFLAGS: -std=c++17 -stdlib=libc++ -D_LIBCPP_VERSION=1
  steps:
  - script:
      curl -Ls http://releases.llvm.org/8.0.0/clang%2bllvm-8.0.0-x86_64-linux-gnu-ubuntu-16.04.tar.xz -o clang.tar.xz
      tar -xf clang.tar.xz -C /opt/clang-8
  - script: |
      mkdir build
      cd build
      cmake -DCMAKE_BUILD_TYPE=$(BUILD_TYPE) ..
    displayName: 'CMake'
  - script: |
      make cista-test
    workingDirectory: build
    displayName: 'Build'
  - script: |
      ./cista-test
    workingDirectory: build
    displayName: 'Run Tests'